body {
    padding: 2px;
    margin: 2px;
    background-color: aliceblue;
}

h1{
        text-align: center;
        font-size: 50px;
    }

.contenedorTexto{
    vertical-align: top;
    margin: 50px;
    display: flex;
    justify-content: center;
    
}    

label {
    vertical-align: top;
    font-size: 20px;
    text-decoration: underline;
    margin: 10px;
}


.contador{
    vertical-align: top;
    font-size: 20px;
    margin: 30px;

    
}

textarea {
    background-color: rgba(245, 222, 179, 0.689);
}

p{
    font-size: 20px;
    vertical-align: top;
    margin: 30px;
    display: flex;
    
}