body{
    
    background-color: rgb(0, 0, 0);
}

#header-logo-container img{
    width: 90px;
    height: 70px;
    margin: -13px;
  }



.hero {
    background: url(/images/header.jpg) no-repeat;
    background-size: cover;
    color: white;
    height: 50vh;
    min-height: 600px;
    text-align: center;
    
}

.textoPresentacion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txtWine{
    color: rgb(158, 6, 6);
}

.titulo{
    font-size: 50px;
}

.equipo{
    font-size: 30px;
    margin-top: 270px;
    margin-left: 40px;
}

.noticiasNovedades{
    background-color: white;
    text-align: center;
    padding: 20px;
    
}

.contenedorNosotros{
    background: url(/images/historia_5.jpg) no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.card-img-top{
    width: 100%;
    height: 100%;
    
}


.contenedorTestimonios{
    background-color: white;
}


.contenedorHistoria{
    background: url(/images/headerhistoria.jpg) no-repeat;
    background-size: cover;
    color: white;
    height: 0vh;
    min-height: 400px;
    text-align: center;
}


.contenerdor1{
    background-color: antiquewhite;
}

.contenerdor2{
    background-color: white;
}


.imagenDecada{
    height: 100px;
    width: 200px;
}

.imagenDescripcion{
    height: 300px;
    width: 600px;
   
}

.textoHistoria{
   text-align: center;
   font-size: 22px;
   font-family: 'Borel', cursive;
font-family: 'Croissant One', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
}


.contenedorConocenos{
    background: url(/images/headerContacto.jpg) no-repeat;
    background-size: cover;
    color: white;
    height: 0vh;
    min-height: 400px;
    text-align: center;
}


.tituloContacto{
    font-size: 60px;    
}

.tituloVisitanos{
    text-align: center;
     

}

.Turismo{
    background-color: brown;
    padding: 2px;
    font-size: 22px;
    text-align: center;
    color: white;
}

.contenedorFormularioYmaps{
    background-color: rgb(255, 255, 255);
    text-align: center;
}



.testimonios{
    background-color: #dadada;
    padding-bottom: 4rem !important;

}

.testimonio{
    text-align: center;
    padding: 50px 20px;
    color: black;
}

.footer{
    background-color: black;
}

#logofooter{
    width: 90px;
    height: 70px;
    
}



.tituloContacto{
    align-items: center;
    text-align: center;
}


.formulario{
    background-image: url("/images/novedades01.jpg");
    background-size: cover;
    opacity: 500;
    
}

.mapa{
    background-color: white;
}




.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    
  }
  
  .whatsapp-icon {
    margin-top:13px;
    
  }

.contenedorLogin{
    background-color: aliceblue;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    width: 690px;
    
}

.tituloLogin{
    text-align: center;
   margin-top: 6px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.msjIniciarsession{
    background-color: aliceblue;
    
    padding: 3px;
    font-family: 'Courier New', Courier, monospace;
    width: 690px;
    border-style: solid;
    border-color: rgb(0, 8, 255);
    border-width: 2px;
}



.contenedorNovedades{
    background: url(/images/loginusuarios.jpg) no-repeat;
    background-size: cover;
    color: white;
    height: 0vh;
    min-height: 400px;
    text-align: center;
}

.contenedorSaludo{
    color: white;
    height: 0vh;
    min-height: 400px;
    text-align: center;
    font-size: 40px;
}


.contenedorTablaNovedades{
    background-color: aliceblue;
}
  
.novedadesCRUD{
    background-color: aliceblue;
}