<!--Comienzo Menu-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/" id="header-logo-container">
        <img data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000" src="/images/logo.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Novedades">Novedades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Creadores">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonio">Testimonios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/historia">Historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/visitanos">Visitanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Iniciar Session</a>
          </li>

            </ul>
          </li>
          
      </div>
    </div>
  </nav>
  <!--Fin Menu-->





<!--Comienzo Hero-->
<div class="container-fluid">
  <div id="home" class="row align-items-center hero">
    <div class="fila-nosotros" data-aos="zoom-in-down" data-aos-duration="3000">
      <div class="col1">
        <span class="titulo">BIENVENIDO A VIÑA</span>
        <h2><span class="txtWine titulo">RED</span>
          <span class="titulo">WINE</span></h2>
      </div>




    </div>
  </div>
  <!--Fin Hero-->

  <!--Noticias y Novedades -->

  <div class="container-fluid noticiasNovedades">
    <h2 id="Novedades">Noticias y Novedades</h2>

    <div class="card-group" data-aos="fade-up" data-aos-duration="3000">

     {{#each novedades}}
      <div class="card">
        <img src="{{imagen}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"> {{titulo}}</h5>
          <p class="card-text">{{subtitulo}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{cuerpo}}</small>
        </div>
      </div>
          {{/each}}


    </div>
  </div>
</div>

<!--FIN Noticias y Novedades -->

<!--Nosotros -->

<div class="contenedorNosotros pt-3">
  <div class="container text-light bg-dark"><h2 id="Creadores">Conoce nuestro
      equipo.</h2></div>
  <div class="d-inline-flex p-4">

    <div class="col" data-aos="flip-left" data-aos-duration="3000">
      <div class="card">
        <img src="/images/nosotros01.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-dark">ING. JUANA RODRIGUEZ</h5>
          <p class="card-text text-dark">This is a longer card with supporting
            text below as a natural lead-in to additional content. This content
            is a little bit longer.</p>
        </div>
      </div>
    </div>

    <div class="col" data-aos="flip-right" data-aos-duration="3000">
      <div class="card">
        <img src="/images/nosotros02.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title text-dark">ING. JUAN GONZALEZ</h5>
          <p class="card-text text-dark">This is a longer card with supporting
            text below as a natural lead-in to additional content. This content
            is a little bit longer.</p>
        </div>
      </div>
    </div>

  </div>

</div>

<!--Fin Nosotros -->

<!--Testimonios -->
<div class="container-fluid noticiasNovedades text-dark">
  <h2 id="testimonio">Testimonios</h2>

  <div
    data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500"
    class="container-fluid contenedorTestimonios pt-2"
  >
    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide testimonios"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner pt-3">
        <div class="carousel-item active" data-bs-interval="10000">
          <img
            src="/images/testimonio3.jpg"
            class="d-block w-50 mx-auto"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block testimonio">
            <h5 class="text-light">Esther (Uruguay)</h5>
            <p class="text-light">EL MEJOR VINO!</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="/images/testimonio1.jpg"
            class="d-block w-50 mx-auto"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block testimonio">
            <h5 class="text-light">Rodolfo (Argentina)</h5>
            <p class="text-light">EL MEJOR VINO!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="/images/testimonio2.jpg"
            class="d-block w-50 mx-auto"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block testimonio">
            <h5 class="text-light">Raul (España)</h5>
            <p class="text-light">EL MEJOR VINO!</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>
<!--Fin Testimonios -->




