<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <nav>
        <ul>
          <li> <a href="/">Home</a></li>
          <li> <a href="/historia">Historia</a></li>
          <li> <a href="/visitanos">Visitanos</a></li>
        </ul>
      </nav>














    {{{body}}}
  </body>
</html>
